.photo{
    margin-bottom: 0;
}

h3{
    margin-bottom: 2%;
    margin-top: 1%;
}

button{
    margin-top: 10px;
}

.text-wrapper{
    width: 100%;
    position: relative;
}
.share {
  color: #a3a3a3;
  font-size: 30px;
}
.text-wrapper h6{
    text-align: center;
    color: black;
}

@import url(https://fonts.googleapis.com/css?family=Lato:700);

.box {
position: relative;
background: #fff;
box-shadow: 0 0 15px rgba(0,0,0,.1);
height: 100%;
}

.ribbon {
width: 100px;
height: 100px;
overflow: hidden;
position: absolute;
}
.ribbon span {
position: absolute;
display: block;
width: 161px;
padding: 8px 0;
background-color: #b2b40f;
box-shadow: 0 5px 10px rgba(0,0,0,.1);
color: #fff;
font: 700 18px/1 'Lato', sans-serif;
text-shadow: 0 1px 1px rgba(0,0,0,.2);
text-align: center;
z-index: 1;
box-shadow: 0 1px 1px #555;
}
.avatar {
  margin: 10px 0px;
  background: #ddd;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.avatar img {
  width: 40px;
  background-color: #ddd;
  border-radius: 50%;
  padding: 2px;
}
.avatar span {
  padding-left: 8px;
  color: #888;
  text-transform: capitalize;
}
/* top right*/
.ribbon-top-right {
top: 0px;
right: 0px;
}
.ribbon-top-right::before,
.ribbon-top-right::after {
border-top-color: transparent;
border-right-color: transparent;
}
.ribbon-top-right::before {
top: 0;
left: 17px;
}
.ribbon-top-right::after {
bottom: 17px;
right: 0;
}
.ribbon-top-right span {
  left: -12px;
  top: 11px;
transform: rotate(45deg);
}